/* HEADER | NAVIGATION */
.content-spacing {
  margin: auto;
  width: 60%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  font-family: "Montserrat", sans-serif;
}
.active {
  color: #debe80;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  list-style: none;
  font-weight: bold;
  margin-right: 2rem;
}
.nav-bar ul li a {
  display: block;
  transition: 0.3s;
  font-size: 1rem;
}

.nav-bar ul li a:hover {
  color: #8d8d8d;
  text-decoration: none;
}
.side-bar {
  position: fixed;
  z-index: 100;
  background-color: white;
}
.hamburger {
  display: none;
}
/*  */
.background-h1 {
  background-color: #7373732f;
  width: 900px;
  height: 55vh;
  margin: auto;
}
.aboutus-h1 {
  z-index: 100;
  font-size: 100px;
  padding: 150px 0;
  margin: auto 0;
  color: rgb(255, 244, 244);
  text-align: center;
}
.aboutus-section {
  height: 55vh;
  width: 100%;
  background-size: cover;
  background-image: url("./images/background/nebo.jpg");
  /* background-image: url("/images/wallpaper2.jpg"); */
}
.aboutus h1 {
  text-align: center;
}
.bold {
  font-weight: bold;
}
/*  */
.headerss {
  margin-top: 4rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  text-align: center;
}
