/* BAGS */
/* SECTION 1 */
.shop-section-bags {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-image: url("./images/Untitled-2.jpg");
}

.active-category {
  text-decoration: underline;
  text-decoration-color: #debe80;
  text-decoration-thickness: 0.1rem;
}
.saleoff-shop-container-bags {
  padding-top: 3rem;
  text-align: center;
}
br {
  display: none;
}
.saleoff-shop-container-bags h1 {
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 800px) {
  br {
    display: inline;
  }
}
@media screen and (max-width: 500px) {
  .saleoff-shop-container-bags h1 {
    font-size: 75px;
  }
  .saleoff-shop-container-bags {
    padding-top: 5rem;
  }
}
/* SHIRTS */
/* SECTION 1 */
.shop-section-shirt {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-image: url("/images/Untitled-2.jpg");
}
.saleoff-shop-container-shirt {
  padding-top: 3rem;
  text-align: center;
}
.saleoff-shop-container-shirt h1 {
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 650px) {
  .saleoff-shop-container-shirt h1 {
    font-size: 75px;
  }
  .saleoff-shop-container-shirt {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 450px) {
  .saleoff-shop-container-shirt h1 {
    font-size: 45px;
  }
  .saleoff-shop-container-shirt {
    padding-top: 7rem;
  }
}
/* FOR KIDS */
/* SECTION 1 */
.shop-section-forkids {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-image: url("/images/Untitled-2.jpg");
}
.saleoff-shop-container-forkids {
  padding-top: 3rem;
  text-align: center;
}
.saleoff-shop-container-forkids h1 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 650px) {
  .saleoff-shop-container-forkids h1 {
    font-size: 55px;
  }
  .saleoff-shop-container-forkids {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 450px) {
  .saleoff-shop-container-forkids h1 {
    font-size: 45px;
  }
  .saleoff-shop-container-forkids {
    padding-top: 7rem;
  }
}
