/* GENERAL */
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
/* IMG */
.logo {
  width: 5rem;
}
.nav-img {
  width: 1rem;
}
/* HEADER | NAVIGATION */
.content-spacing {
  margin: auto;
  width: 60%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  font-family: "Montserrat", sans-serif;
}
.active {
  color: #debe80;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  list-style: none;
  font-weight: bold;
  margin-right: 2rem;
}
.nav-bar ul li a {
  display: block;
  transition: 0.3s;
  font-size: 1rem;
}

.nav-bar ul li a:hover {
  color: #d0c1a7;
  text-decoration: none;
}
.side-bar {
  position: fixed;
  z-index: 100;
  background-color: white;
}
.hamburger {
  display: none;
}
/* HEADER */
.contact-bg {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../images/alt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  padding-top: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
}
.contact-bg h2 {
  margin: 0.5rem 0 0.7rem;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.line div:nth-child(2) {
  height: 10px;
  width: 10px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}
.text {
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
/* КОНТАКТНЫЕ ДАННЫЕ */

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #debe80;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
/* ФОРМА */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-bottom: 1rem;
}
.form-control {
  width: 370px;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: flex;
  flex-direction: column;
}
textarea {
  width: 93%;
  resize: vertical;
  max-height: 300px;
}
.contact-img {
  width: 600px;
}

/* btn */
.button-27 {
  width: 400px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.send-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #debe80;
  border-radius: 5px;
  border: 1px solid #deb580;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
/* MAP */
.map {
  box-shadow: 1px 1px 20px rgb(122, 122, 122);
}
/* ФУТЕР */
.contact-footer {
  padding: 2rem 0;
  background-color: #000;
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #fff;
  margin: 0 0.6rem;
  text-decoration: none;
  transition: 0.5s;
}
.social-links a:hover {
  box-shadow: 0px 0px 15px #debe80;
}

/* РЕСПОНСИВ */
@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .contact-bg .text {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .form-control {
    width: 350px;
  }
  form {
    width: 400px;
  }
  .button-27 {
    margin-top: 0.5rem;
    width: 370px;
  }
}
@media screen and (max-width: 1120px) {
  /* HEADER | NAVIGATION */
  .content-spacing {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 780px) {
  /* HEADER | NAVIGATION */
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fff; /* !!!!!! */
    margin: 6px;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;

    transition: 0.2s;
    overflow: hidden;
    z-index: 100;
  }

  .nav-bar.active {
    height: 450px;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li a {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 440px) {
  .form-control {
    width: 300px;
  }
  form {
    width: 350px;
  }
  .button-27 {
    margin-top: 0.5rem;
    width: 320px;
  }
  .contact-bg h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 440px) {
  .form-control {
    width: 300px;
  }
  form {
    width: 350px;
  }
  .button-27 {
    margin-top: 0.5rem;
    width: 320px;
  }
}
