html,
body {
  position: relative;
  height: 100%;
  --swiper-theme-color: #debe80;
}

body {
  background: #fff;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

/* Customizing Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  padding: 0 50px; /* Change color here */
}
.swiper-slide img {
  margin: auto;
  display: block;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
