/* GENERAL STYLES */
html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}

/* IMAGES */
.logo {
	width: 5rem;
}
.nav-img {
	width: 1rem;
}
.dropdown {
	width: 0.5rem;
}
.shopinfo {
	height: 4rem;
}
.ochko {
	height: 30rem;
	margin-bottom: 10rem;
}
.item-image {
	width: 12.25rem;
	height: 18.375rem;
	object-fit: cover;
	z-index: 1;
}
.section-three-img {
	height: 30rem;
}
.member-profile {
	width: 9rem;
	height: 9rem;
	object-fit: cover;
	border-radius: 5rem;
}
.arrow {
	padding: 3px 0 0 0;
	margin: 0;
	width: 1rem;
}
.footer-logo {
	width: 6rem;
}
/* HEADER */
.content-spacing {
	margin: auto;
	width: 60%;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0 0.5rem 0;
	font-family: 'Montserrat', sans-serif;
}

nav ul li {
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-right: 2rem;
}

nav ul li a:hover {
	color: #debe80;
}
/* SECTION 1 */
.sale-section {
	height: 90vh;
	width: 100%;
	background-image: url('/images/backimg3.jpg');
	background-size: cover;
}
.saleoff-container {
	padding-top: 9.4rem;
	width: 33rem;
}
.saleoff-container h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4.4rem;
	line-height: 4.6rem;
	margin-bottom: 0.5rem;
}
.saleoff-container p {
	margin-left: 1rem;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6rem;
}
.saleoff-container button {
	margin-top: 1.2rem;
	background-color: #debe80;
	padding: 0.9rem 2.8rem;
	border: 1px solid #debe80;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transition: 0.5s;
}
.saleoff-container button:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #695553;
	cursor: pointer;
}
/* SECTION 2 */
.shopwithus {
	text-align: center;
}

.yellowline {
	margin: auto;
	width: 4.4rem;
	height: 0.5rem;
	background-color: #debe80;
	margin-bottom: 3rem;
}

.section2-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}
.flex-container {
	justify-content: center;
	width: 22.4rem;
	height: 16.5rem;
	background-color: #695553;
	color: white;
	border: 1px solid #695553;
	border-radius: 0.7rem;
}
.flex-container img {
	display: inline-block;
	margin-top: 3rem;
}
.flex-container p {
	line-height: 1.5rem;
	margin: 0;
	font-weight: 500;
}
.flex-container h3 {
	margin-bottom: 0.5rem;
}
/* SECTION 3 */
.section-three {
	display: grid;
	grid-template-columns: 1fr 29rem;
	column-gap: 5rem;
	color: white;
	height: 30rem;
	margin-bottom: 2rem;
	display: flex;

	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.589),
		#695553,
		#5c4644,
		#4a322f
	);
}

.arrivals h2 {
	margin-top: 4rem;
	font-family: 'Noto Sans', sans-serif;
	font-size: 3.2rem;
	margin-bottom: 0.8rem;
}

.arrivals p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6rem;
	width: 27rem;
}
.section-three button {
	margin-top: 1.2rem;
	border-radius: 0.2rem;
	background-color: #debe80;
	padding: 0.9rem 2.8rem;
	border: 1px solid #debe80;
	box-shadow: 5px 5px 10px black;

	font-size: 1rem;
	font-weight: bold;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transition: 0.5s;
}
.section-three button:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #debe80;
	cursor: pointer;
}
/* SECTION 4 */
.headers:hover {
	cursor: pointer;
}
.goods-section {
	margin-bottom: 10rem;
}
.headers {
	margin-top: 4rem;
	font-family: 'Noto Sans', sans-serif;
	font-size: 2.8rem;
	margin-bottom: 0.8rem;
	text-align: center;
}
.goods-container-grid {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 22rem 22rem 22rem;
	column-gap: 2rem;
	row-gap: 2rem;
}
.item-container {
	display: grid;
	grid-template-rows: 19rem 1fr;
	border: 1px solid rgb(194, 194, 194);
	width: 22rem;
	height: 21rem;
	box-shadow: 12px 12px 3px rgba(138, 138, 138, 0.589);
}
.item-info {
	display: flex;
	justify-content: space-between;
	padding: 0 0.5rem;
	align-items: center;
	background-color: rgba(190, 0, 0, 0.212);
}
.item-info p {
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.img-centered {
	display: flex;
	width: 22rem;
	height: 21rem;
	justify-content: center;
	z-index: 1;
}
.item-name {
	font-weight: bold;
}
/* SECTION 5 */
.input-section {
	height: 26rem;
	margin-bottom: 3rem;
	color: white;
	text-align: center;
	background-image: linear-gradient(to right, #4a322f, #695553);
}

.input-section h3 {
	font-size: 2.1rem;
	font-family: 'Noto Sans', sans-serif;
	padding-top: 3rem;
	margin-bottom: 0;
}
.input-section p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	font-weight: 200;
}
.input-section input {
	padding: 1rem 0;
	width: 57rem;
	display: block;
	border-radius: 2rem;
	border: black;
	margin-top: 1rem;
}
.input-section input[type='text'] {
	padding-left: 2rem;
	font-size: 1rem;
	border-radius: 2rem;
}
.form-center {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.input-btn {
	margin-top: 1.2rem;
	border-radius: 2rem;
	background-color: #debe80;
	padding: 0.9rem 2.8rem;
	border: 1px solid #debe80;
	box-shadow: 5px 5px 10px black;
	margin-top: 3rem;

	font-size: 1rem;
	font-weight: bold;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	transition: 0.5s;
}
.input-btn:hover {
	background-color: #ebcb8d;
	color: #333333;
	cursor: pointer;
	padding: 0.9rem 4rem;
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
/* SECTION 6 */
.team-section {
	margin-bottom: 10rem;
}
.team-section h1 {
	text-align: center;
	font-size: 3.75rem;
	font-family: 'Noto Sans', sans-serif;
	color: #695553;
	margin: 1rem;
}
.team-member-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-container {
	margin: 0 9rem;
}
.team-btn {
	width: 3rem;
	height: 3rem;
	background-color: #debe80;
	border: none;
	border-radius: 1.5rem;
}

.member-name {
	color: #695553;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 600;
	text-align: center;
}
.member-position {
	color: #949494;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 500;
	text-align: center;
	line-height: 0;
}
.description {
	color: #949494;
	text-align: center;
}
/* FOOTER */
footer {
	display: grid;
	grid-template-columns: 16rem 9rem 15rem;
	column-gap: 10rem;
	justify-content: center;
	margin-bottom: 2rem;
}
.footer-left-section p {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 200;
}
.bold-txt {
	font-weight: bold;
	color: #000000;
}
